---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import Container from "@/components/Container.astro";
import Hero from "@/components/Hero.astro";
import ProjectsCarousel from "@/components/ProjectsCarousel.astro";
import WorkExperienceSection from "@/components/WorkExperienceSection.astro";
import Layout from "@/layouts/Layout.astro";

import shamahdevImg from "@/assets/shamahdev.png";
import arNestleImg from "@/assets/ar-nestle.png";
import arSentralImg from "@/assets/ar-sentral.png";
import arWyethImg from "@/assets/ar-wyeth.png";
import workSmeshubImg from "@/assets/work-smeshub.png";
import brandMantenkuhImg from "@/assets/brand-mantenkuh.png";
import brandSiomayImg from "@/assets/brand-siomay.png";
import brandPrintingmartImg from "@/assets/brand-printingmart.png";
import brandArtireImg from "@/assets/brand-artire.png";

const projects = await getCollection("projects");
---

<Layout>
	<Hero class="flex min-h-screen px-8 flex-col items-center">
		<Container>
			<main class="w-full flex flex-col gap-24">
				<div class="flex flex-col gap-16 pt-12">
					<Picture
						src={shamahdevImg}
						alt="Shaddam Amru Hasibuan"
						loading="eager"
						decoding="async"
					/>
					<div class="flex flex-col py-8 gap-2">
						<h1 class="text-[42px] text-[#CECDC3] font-bold">
							Shaddam Amru Hasibuan
						</h1>
						<p class="text-[#CECDC3] text-2xl font-secondary">
							Frontend Product Engineer
							<span class="text-[#6F6E6C]"> — based in Indonesia</span>
						</p>
					</div>
					<div class="flex flex-col gap-4">
						<h2 class="text-lg font-semibold text-[#CECDC3]">about me</h2>
						<p class="text-[#6F6E6C] max-w-3xl leading-loose">
							Hey, im Shaddam 👋, also known as Shamah. Love building innovative
							products and learn new blazing fast technologies. I enjoy
							volunteering as a speaker, and mentor to help others grow in their
							careers.
						</p>
						<a
							href="https://drive.google.com/file/d/1z-Jsr22Sc1EyFJDuhJV7Td4zxnk96KTQ/view?usp=sharing"
							rel="noopener noreferrer"
							target="_blank"
							class="text-[#CECDC3] border border-[#CECDC3] py-2 px-3 flex w-fit rounded-md text-sm font-semibold items-center justify-center hover:brightness-75 transition-[filter]"
						>
							get a copy of my resume
						</a>
					</div>
				</div>

				<div class="flex flex-col lg:flex-row gap-4 w-full min-h-112.5">
					<div
						class="bg-[#1C1B1A] backdrop-blur border border-[#282726] rounded-xl py-6 px-8 flex flex-col justify-between w-full"
					>
						<div class="flex flex-col gap-3">
							<h3 class="font-semibold text-[#CECDC3]">frontend ✨</h3>
							<p class="text-sm text-[#6F6E6C] leading-loose">
								Frontend development is my specialty and expertise.
								<br class="mb-4" />I have extensive professional experience and
								can effectively function as a lead, work with a team, or even
								operate independently to deliver results quickly.
							</p>
						</div>
					</div>
					<div
						class="bg-[#1C1B1A] backdrop-blur border border-[#282726] rounded-xl py-6 px-8 flex flex-col justify-between w-full"
					>
						<div class="flex flex-col gap-3">
							<h3 class="font-semibold text-[#CECDC3]">ui ux</h3>
							<p class="text-sm text-[#6F6E6C] leading-loose">
								As i'm passionated at building products, i'm having a decent
								experience and knowledge with UI & UX Design.
							</p>
							<a
								href="https://dribbble.com/shamahdotdev"
								class="text-sm text-[#CECDC3] underline flex gap-1 items-center"
								rel="noopener noreferrer"
								target="_blank"
							>
								<Icon name="lucide:external-link" size={16} />
								behance
							</a>
							<a
								href="https://www.behance.net/shamahdotdev"
								class="text-sm text-[#CECDC3] underline flex gap-1 items-center"
								rel="noopener noreferrer"
								target="_blank"
							>
								<Icon name="lucide:external-link" size={16} />
								dribbble
							</a>
						</div>
					</div>
					<div
						class="bg-[#1C1B1A] backdrop-blur border border-[#282726] rounded-xl py-6 px-8 flex flex-col justify-between w-full"
					>
						<div class="flex flex-col gap-3">
							<h3 class="font-semibold text-[#CECDC3]">vr/ar</h3>
							<p class="text-sm text-[#6F6E6C] leading-loose">
								On my early career from 2019, I often do side hustling and
								working on project as a freelance for companies. Im used to work
								with Unity, Vuforia and Spark AR.
								<br class="mb-4" />
								Companies i've been work with:
							</p>
						</div>
						<div class="flex flex-wrap w-full gap-4 items-center">
							<div
								class="relative"
								style="width: 63.5px; aspect-ratio: 63.5 / 40;"
							>
								<Picture
									src={arNestleImg}
									alt="Nestle"
									loading="eager"
									decoding="async"
									style="object-fit: contain;"
								/>
							</div>
							<div
								class="relative"
								style="width: 66.5px; aspect-ratio: 66.5 / 40;"
							>
								<Picture
									src={arSentralImg}
									alt="Sentral Tunjungan"
									loading="eager"
									decoding="async"
									style="object-fit: contain;"
								/>
							</div>
							<div
								class="relative"
								style="width: 135px; aspect-ratio: 135 / 40;"
							>
								<Picture
									src={arWyethImg}
									alt="Wyeth Nutrition"
									loading="eager"
									decoding="async"
									style="object-fit: contain;"
								/>
							</div>
						</div>
					</div>
					<div
						class="bg-[#FFFCF0] backdrop-blur rounded-xl py-6 px-8 flex flex-col justify-between w-full"
					>
						<div class="flex flex-col gap-3">
							<h3 class="font-semibold text-[#100F0F]">brand design</h3>
							<p class="text-sm text-[#6F6E6C] leading-loose">
								I've designed 20+ logo & brand for companies around the world, 3
								full brand identity client from logo to stationery and social
								media design.
								<br class="mb-4" />
								Featured brand logo i've made:
							</p>
						</div>
						<div class="flex flex-wrap w-full gap-4 items-center">
							<div class="relative" style="width: 96px; aspect-ratio: 96 / 24;">
								<Picture
									src={workSmeshubImg}
									alt="Smeshub"
									loading="eager"
									decoding="async"
									style="object-fit: contain;"
								/>
							</div>
							<div
								class="relative"
								style="width: 106px; aspect-ratio: 106 / 40;"
							>
								<Picture
									src={brandMantenkuhImg}
									alt="Mantenkuh"
									loading="eager"
									decoding="async"
									style="object-fit: contain;"
								/>
							</div>
							<div
								class="relative"
								style="width: 58.5px; aspect-ratio: 58.5 / 40;"
							>
								<Picture
									src={brandSiomayImg}
									alt="Somay Lonjong"
									loading="eager"
									decoding="async"
									style="object-fit: contain;"
								/>
							</div>
							<div
								class="relative"
								style="width: 114.5px; aspect-ratio: 114.5 / 40;"
							>
								<Picture
									src={brandPrintingmartImg}
									alt="printingmart"
									loading="eager"
									decoding="async"
									style="object-fit: contain;"
								/>
							</div>
							<div class="relative" style="width: 70px; aspect-ratio: 70 / 40;">
								<Picture
									src={brandArtireImg}
									alt="Artire"
									loading="eager"
									decoding="async"
									style="object-fit: contain;"
								/>
							</div>
						</div>
					</div>
				</div>

				<WorkExperienceSection />
				<ProjectsCarousel projects={projects} />
			</main>
		</Container>

		<Container>
			<footer class="w-full flex flex-col gap-4 py-24">
				<p class="font-bold text-xl text-[#CECDC3]">hello@shamah.dev</p>
				<p class="text-sm text-[#6F6E6C] leading-loose max-w-3xl">
					Open for new opportunity and project-based works, Feel free to inbox
					me whether you have a question or just want to say hi!
				</p>
				<div class="flex items-center gap-4 flex-wrap">
					<a
						href="https://www.linkedin.com/in/shamahdev/"
						class="text-sm text-neutral-100 underline flex gap-1 items-center"
						rel="noopener noreferrer"
						target="_blank"
					>
						<Icon name="lucide:external-link" size={16} />
						linkedin
					</a>
					<a
						href="https://github.com/shamahdev"
						class="text-sm text-neutral-100 underline flex gap-1 items-center"
						rel="noopener noreferrer"
						target="_blank"
					>
						<Icon name="lucide:external-link" size={16} />
						github
					</a>
					<a
						href="https://x.com/shamahdev"
						class="text-sm text-neutral-100 underline flex gap-1 items-center"
						rel="noopener noreferrer"
						target="_blank"
					>
						<Icon name="lucide:external-link" size={16} />x
					</a>
					<a href="/blog" class="text-sm text-[#CECDC3] underline"> blog </a>
				</div>
			</footer>
		</Container>
	</Hero>
</Layout>
